extends layout

block content
    .col-md-4.col-md-offset-4.text-center
        h2 Datos películas
        .col-xs-12(style='height:14px;')
        if(datos)
            p La siguiente película ha sido añadida/actualizada/eliminada en la base de datos:

            form.form-horizontal(role='form')
                .form-group
                    label.control-label.col-sm-5(for='nombre') Nombre:
                    .col-md-7
                        input#nombre.form-control(type='text', style='background-color: white;', value='#{datos.nombre}', readonly='')
                .form-group
                    label.control-label.col-sm-5(for='director') Director:
                    .col-sm-7
                        input#director.form-control(type='text', style='background-color: white;', value='#{datos.director}', readonly='')
                .form-group
                    label.control-label.col-sm-5(for='anio') Año:
                    .col-md-7
                        input#anio.form-control(type='text', style='background-color: white;', value='#{datos.anio}', readonly='')
                .form-group
                    label.control-label.col-sm-5(for='genero') Genero:
                    .col-sm-7
                        input#genero.form-control(type='text', style='background-color: white;', value='#{datos.genero}', readonly='')

            img.img-responsive.center-block(src='/images/ok.png', alt='imagen_ok')
        else
            p La película no ha sido añadida/actualizada/eliminada a la base de dato aunque no se ha producido ningún error en la base de datos.
