extends layout

block content

    .col-md-4.col-md-offset-4.text-center
        h2 Añadir películas
        .col-xs-12(style='height:14px;')
        form#insertar.form-horizontal(role='form', action='', method='post')
            .form-group
                label.control-label.col-sm-2(for='nombre') Nombre:
                .col-sm-10
                    input#nombre.form-control(name='nombre', type='text', maxlength='100', pattern='^[A-ZÁÉÍÓÚ][a-záéíóúñ0-9]+[,?:? {1}[A-ZÁÉÍÓÚa-záéíóúñ0-9]+]*$', title='Primera letra mayusculas, resto minúsculas. Solo se pueden usar letras y números. No se permite más de un espacio entre palabras. Máximo 100 caracteres.', required='')
            .form-group
                label.control-label.col-sm-2(for='director') Director:
                .col-sm-10
                    input#director.form-control(name='director', type='text', maxlength='50', pattern='([A-ZÁÉÍÓÚ][a-záéíóúñ]+[ ]*)+', title='Primera letra de cada palabra mayusculas, resto minúsculas. Solo se pueden usar letras. No se permite más de un espacio entre palabras. Máximo 50 caracteres.', required='')
            .form-group
                label.control-label.col-sm-2(for='genero') Género:
                .col-sm-10
                    input#genero.form-control(name='genero', type='text', maxlength='20', pattern='([A-ZÁÉÍÓÚ][a-záéíóúñ]+[ ]*)+', title='Primera letra de cada palabra mayusculas, resto minúsculas. Solo se pueden usar letras. No se permite más de un espacio entre palabras. Máximo 20 caracteres.', required='')
            .form-group
                label.control-label.col-sm-2(for='anio') Año:
                .col-sm-4
                    input#anio.form-control(name='anio', type='number', min='1900', max='2016', title='El año introducido tiene que estar entre 1900 y 2016', required='')
            .form-group
                .col-sm-offset-2.col-sm-10
                    button#crear.btn.btn-default(type='submit') Crear
